doctype html
html
  head
    title= nukxScan
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="refresh", content="5")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap", rel="stylesheet")
  body
    .content
      block content
